html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hidden {
    display: none;
}
header {
    display: flex;
    flex-direction: row;
    width: 100;
    height: 100%;
}
/* first page to load */

.hike {
    text-align: center;
    background-image: url(jonathon-reed-XF1pu2ZoaXI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    background-color: darkgray;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;

}
.bike {
    text-align: center;
    background-image: url(daniel-frank-UwvGAmVeQ1I-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    background-color: grey;
    width: 100%;
    height: 100%;
    border-left: 1px solid black;

}

.hike>h2 {
    background-color: rgb(249,207,128);
    margin: auto;
    padding-top: 25px;
    width: 100px;
    text-align: center;
}
.bike>h2 {
    background-color: rgb(0,52,100);
    margin: auto;
    padding-top: 25px;
    width: 100px;
    text-align: center;
}

/* second page to load */
.nav-bar-container {
}
.nav-bar {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.hiking-option {
    background-color: rgb(249,207,128);
    text-align: left;
    position: absolute;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 54.5% 0%, 44.5% 100%, 0% 99.5%);
    clip-path: polygon(0 0, 54.5% 0%, 44.5% 100%, 0% 99.5%);
}
.biking-option {
    background-color: rgb(0,52,100);
    text-align: right;
    position: absolute;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(55.5% .5%, 100% 0%, 100% 100%, 45.5% 100%);
    clip-path: polygon(55.5% .5%, 100% 0%, 100% 100%, 45.5% 100%);
}
.hiking-option>h3 {
    padding: 0 30px;
}
.biking-option>h3 {
    padding: 0 30px;
}
.main-content {
    height: 100%;
}
.main-search-container {
    height: calc(100% - 50px);
}
.main-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}
.main-search-form {
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-values {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.input-values>input {
    padding-left: 10px;
    border: none;
    border-radius: 0%;
    margin: 0;
    height: 40px;
    width: calc(100% - 90px);
}
.input-values>button {
    display: inline-block;
    background-color: rgb(249,207,128);
    width: 90px;
    border: none;
}

.results {
    width: 100%;
    height: 100%;
}
.results-container {
    height: 100%;
}
.results-search {
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}
.results-search-form {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.result-input-values {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
}
.result-input-values>input {
    padding-left: 10px;
    border: none;
    border-radius: 0%;
    margin: 0;
    height: 38px;
    width: calc(100% - 90px);
}
.result-input-values>button {
    display: inline-block;
    background-color: rgb(249,207,128);
    width: 90px;
    border: none;
}
.results-list-container {
    overflow: auto;
    position: relative;
    top: 400px;
    margin: auto;
    border: 1px solid black;
    border-top: none;
    width: 450px;
    height: calc(100% - 400px);
}
.results-list-container::-webkit-scrollbar {
     width: 0 !important;
     }
.results-list {
    height: calc(100% - 400px);
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.results-list-item {
    background-color: rgb(255,255,255);
    width: 100%;
    cursor: pointer;
}
ul>.results-list-item:nth-child(odd){
    background-color: rgb(242,242,242);
}​
ul>.results-list-item:nth-child(even){
    background-color: rgb(255,255,255);
}​
.results-list-item>div {
    cursor: pointer;
    border-bottom: 1px solid black;
    margin: 10px 10px;
    padding-bottom: 10px;
}
/*.trail-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}*/
.trail-name {
    margin: 10px 10px;;
}
button {
    background-color: grey;
}
.description {
    margin-left: 10px;
}
.trail-content {
    margin-left: 10px;
}
.map-container {
    width: 100%;
    height: 300px;
}


/* screen size between 768px and  1124px*/
@media only screen and (min-width: 600px) {
    .main-search-form {
        width: 500px;
        height: 420px;
        
    }

}


/* screen size over 1123px */
@media only screen and (min-width: 850px) {


    .results-search {
        align-items: flex-start;
        width: 95%;
    }
    .results-search-form {
        flex-direction: row;
        width: 450px;
    }
    .results-list-container {
        width: 95%;
    }
    .list-item-content {
        display: flex;
        flex-direction: row;
    }
    
    .list-item-content :nth-child(1) {
        order: 2;
    }
    .list-item-content :nth-child(2) {
        order: 1;
    }
    .trail-content {
        align-self: flex-end;
        width: calc(100% - 420px);
        /*width: calc(100% - 420px);
        position: relative;
        bottom: 140px;*/
    }
}
 
/*background-color: rgb(198,173,139);*/