html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}
.hidden {
    display: none;
}

/* first page to load */
.hike, .bike {
    position: absolute;
    height: 100%;
    width: 65%;
  }
.hike {
    cursor: pointer;
    background-color: darkgray;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 99.5% 0%, 0% 99.5%);
    clip-path: polygon(0 0, 99.5% 0%, 0% 99.5%);
}
.bike {
    cursor: pointer;
    background-color: grey;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% .5%, 100% 100%, .5% 100%);
    clip-path: polygon(100% .5%, 100% 100%, .5% 100%);
}
.hike>h2 {
    background-color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    width: 100px;
    text-align: center;
}
.bike>h2 {
    background-color: white;
    position: absolute;
    bottom: 25%;
    right: 20%;
    width: 100px;
    text-align: center;
}

/* second page to load */
.nav-bar {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.hiking-option {
    text-align: left;
    position: absolute;
    margin: 0;
    cursor: pointer;
    background-color: darkgrey;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 54.5% 0%, 44.5% 100%, 0% 99.5%);
    clip-path: polygon(0 0, 54.5% 0%, 44.5% 100%, 0% 99.5%);
}
.biking-option {
    text-align: right;
    position: absolute;
    margin: 0;
    cursor: pointer;
    background-color: grey;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(55.5% .5%, 100% 0%, 100% 100%, 45.5% 100%);
    clip-path: polygon(55.5% .5%, 100% 0%, 100% 100%, 45.5% 100%);
}
.hiking-option>h3 {
    padding: 0 30px;
}
.biking-option>h3 {
    padding: 0 30px;
}
main {
    height: 100%;
}
.main-search-container {
    height: calc(100% - 50px);
}
.main-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}
.main-search-form {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input-values {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.input-values>input {
    padding: 0 10px;
    border: 1px solid black; 
    border-radius: 0%;
    margin: 10px 0;
    height: 60px;
}
.main-search-form>button {
    width: 100%;
    height: 80px;
    border-radius: 0%;
    margin: 10px 0;
}
.results {
    width: 100%;
}
.results-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.results-search-form {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.result-input-values {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.result-input-values>input {
    padding: 0 10px;
    border: 1px solid black; 
    border-radius: 0%;
    margin: 5px 0;
    height: 30px;
}
.results-search-form>button {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
    height: 30px;
    border-radius: 0%;
}
.results-list-container {
    margin: auto;
    border: 1px solid black;
    width: 95%;
}
.results-list {
    margin: 10px 10px;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.results-list-item {
    width: 100%;
    
}
.results-list-item>div {
    cursor: pointer;
    border-bottom: 1px solid black;
    margin: 10px 10px;
}
button {
    background-color: grey;
}
.description {
    margin-left: 10px;
}


/* screen size between 768px and  1124px*/
@media only screen and (min-width: 600px) {
    .main-search-form {
        width: 400px;
        height: 500px;
        border: 1px solid black;
    }
    .input-values>input {
        border: 1px solid black; 
        border-radius: 0%;
        margin: 10px 10px;
        height: 60px;
    }
    .main-search-form>button {
        width: calc(100% - 20px);
        height: 80px;
        border-radius: 0%;
    }
}


/* screen size over 1123px */
@media only screen and (min-width: 1000px) {
    .results-search {
        justify-content: flex-end;
        align-items: flex-end;
    }
    .results-search-form {
        width: 300px;
        margin-right: 28px;
        margin-top: 10px;
    }
 
}

.map-container {
    background-color: red;
    width: 100px;
    height: 100px;
}