@keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% { 
      opacity: 100;
    }
  }
  @keyframes bike-selected-fade {
    from {
      -webkit-clip-path: polygon(75.5% .5%, 100% 0%, 100% 100%, 65.5% 100%);
      clip-path: polygon(75.5% .5%, 100% 0%, 100% 100%, 65.5% 100%);
    }
    to {
      -webkit-clip-path: polygon(25.5% .5%, 100% 0%, 100% 100%, 35.5% 100%);
      clip-path: polygon(25.5% .5%, 100% 0%, 100% 100%, 35.5% 100%);
    }
}
@keyframes bike-unselected-fade {
  from {
      -webkit-clip-path: polygon(25.5% .5%, 100% 0%, 100% 100%, 35.5% 100%);
      clip-path: polygon(25.5% .5%, 100% 0%, 100% 100%, 35.5% 100%);
  }
  to {
      -webkit-clip-path: polygon(75.5% .5%, 100% 0%, 100% 100%, 65.5% 100%);
      clip-path: polygon(75.5% .5%, 100% 0%, 100% 100%, 65.5% 100%);
  }
}
  @keyframes hike-selected-fade {
      from {
        -webkit-clip-path: polygon(0 0, 24.5% 0%, 34.5% 100%, 0% 99.5%);
        clip-path: polygon(0 0, 24.5% 0%, 34.5% 100%, 0% 99.5%);
      }
        to {
        -webkit-clip-path: polygon(0 0, 74.5% 0%, 64.5% 100%, 0% 99.5%);
        clip-path: polygon(0 0, 74.5% 0%, 64.5% 100%, 0% 99.5%);
    }
  }
  @keyframes hike-unselected-fade {
    from {
        -webkit-clip-path: polygon(0 0, 74.5% 0%, 64.5% 100%, 0% 99.5%);
        clip-path: polygon(0 0, 74.5% 0%, 64.5% 100%, 0% 99.5%);
      }
        to {
            -webkit-clip-path: polygon(0 0, 24.5% 0%, 34.5% 100%, 0% 99.5%);
        clip-path: polygon(0 0, 24.5% 0%, 34.5% 100%, 0% 99.5%);
    }
  }
  @keyframes grow {
    0% {
    height: 0px;
    }
    100% {
    height:160px;
    }
   
  }
  @keyframes shrink {
      0% {
          height: 160px;
      }
      100% {
          height: 0px;
      }
  }

html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fade {
    animation: fade 1s linear forwards;
}
.display {
    animation: grow 1s linear forwards;
}
.biking-selected {
    animation: bike-selected-fade .4s linear forwards;
}
.biking-unselected {
    animation: bike-unselected-fade .4s linear forwards;
}
.hiking-selected {
    animation: hike-selected-fade .4s linear forwards;
}
.hiking-unselected {
    animation: hike-unselected-fade .4s linear forwards;
}
.tab {
    animation: fade 2s linear forwards;
}
.hidden {
    display: none;
}
header {
    display: flex;
    flex-direction: row;
    width: 100;
    height: 100%;
}
/* first page to load */

.hike {
    text-align: center;
    background-image: url(jonathon-reed-XF1pu2ZoaXI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    background-color: darkgray;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}
.bike {
    text-align: center;
    background-image: url(daniel-frank-UwvGAmVeQ1I-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    background-color: grey;
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
}

.hike>button {
    font-family: 'Quattrocento', serif;
    color: rgb(0,52,100);
    background-color: rgb(249,207,128);
    border: none;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}
.hike>button>h1 {
    text-align: center;
    margin: 0;    
    font-size: 30px;
}
.bike>button {
    font-family: 'Quattrocento', serif;
    color: rgb(249,207,128);
    background-color: rgb(0,52,100);
    border: none;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}
.bike>button>h1 {
    text-align: center;
    margin: 0;    
    font-size: 30px;
}


/* second page to load */
.nav-bar-container {
}
.nav-bar {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.hiking-option {
    border: none;
    background-color: rgb(249,207,128);
    text-align: left;
    position: absolute;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    /*-webkit-clip-path: polygon(0 0, 54.5% 0%, 44.5% 100%, 0% 99.5%);
    clip-path: polygon(0 0, 54.5% 0%, 44.5% 100%, 0% 99.5%);*/
}
.biking-option {
    border: none;
    background-color: rgb(0,52,100);
    text-align: right;
    position: absolute;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    /*-webkit-clip-path: polygon(55.5% .5%, 100% 0%, 100% 100%, 45.5% 100%);
    clip-path: polygon(55.5% .5%, 100% 0%, 100% 100%, 45.5% 100%);*/
}
.hiking-option>button {
    font-family: 'Quattrocento', serif;
    border: none;
    background-color: rgb(249,207,128);
    height: 100%;
    margin: 3px;
}
.biking-option>button {
    font-family: 'Quattrocento', serif;
    border: none;
    background-color: rgb(0,52,100);
    height: 100%;
    margin: 3px;
}
.hiking-option>button>h2 {
    font-family: 'Quattrocento', serif;
    font-size: 25px;
    color: rgb(0,52,100);
    text-align: center;
    margin: 0;
}
.biking-option>button>h2 {
    font-family: 'Quattrocento', serif;
    font-size: 25px;
    color: rgb(249,207,128);
    text-align: center;
    margin: 0;
}
.main-content {
    height: 100%;
}
.main-search-container {
    height: calc(100% - 50px);
}
.main-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}
.main-search-form {
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-values {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.input-values>input {
    font-family: 'Fanwood Text', serif;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    border-radius: 0%;
    margin: 0;
    height: 40px;
    width: calc(100% - 90px);
}
.input-values>button {
    font-family: 'Fanwood Text', serif;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: rgb(0,52,100);
    background-color: rgb(249,207,128);
    width: 90px;
    border: none;
}

.results {
    width: 100%;
    height: 100%;
}
.results-container {
    height: 100%;
}
.results-search {
    background-color: rgb(255,255,255);
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    margin-top: 5px;
    border: 1px solid black;
}
.results-search-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.result-input-values {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
}
.result-input-values>input {
    font-family: 'Fanwood Text', serif;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    border-radius: 0%;
    margin: 0;
    height: 38px;
    width: calc(100% - 90px);
}
.result-input-values>button {
    font-family: 'Fanwood Text', serif;
    font-size: 20px;
    display: inline-block;
    background-color: rgb(249,207,128);
    width: 90px;
    border: none;
}
.results-list-container {
    overflow: auto;
    position: relative;
    top: 377px;
    border: 1px solid black;
    border-top: none;
    width: 97%;
    height: calc(100% - 375px);
    margin: auto;
}
.results-list-container::-webkit-scrollbar {
     width: 0 !important;
     }
.results-list {
    height: calc(100% - 400px);
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.results-list-item {
    background-color: rgb(255,255,255);
    width: 100%;
    cursor: pointer;
}
ul>.results-list-item:nth-child(odd){
    background-color: rgb(242,236,230);
}​
ul>.results-list-item:nth-child(even){
    background-color: rgb(255,255,255);
}​
.results-list-item>div {
    cursor: pointer;
    border-bottom: 1px solid black;
    margin: 10px 10px;
    padding-bottom: 10px;
}
.trail-name {
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    margin-right: 10px; 
    text-align: left;
}
.length {
    font-family: 'Quattrocento', serif;
    font-size: 18px;
}
button {
    background-color: grey;
}
.description {
    margin-left: 10px;
}
.map-container {
    width: 100%;
    height: 240px;
}
.search-location {
    width: 100%;
    height: 40px;
    align-self: flex-start;
}
.search-location>h3 {
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
}
.search-location>p {
    display: inline;
}
.trail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}
.trail-header>button {
    background-color: transparent;
    border: none;
}
.difficulty {
    font-family: 'Fanwood Text', serif;
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}
.list-item-content {
    position: relative;
}
.trail-content {
    position: absolute;
    bottom: 0;
    left: 10px;
    align-content: flex-end;
    margin: 0 10px;
    font-size: 16px;
    font-family: 'Fanwood Text', serif;
}

.allert {
    text-align: center;
    background-color: black;
    margin-top: 0%;
    width: 100%;
    color: white;
    padding: 10px 0;
}
.border{
    display: block;
}

/* screen size between 600px and  1124px*/
@media only screen and (min-width: 600px) {
    .hike>button {
        width: 150px;
    }
    .bike>button {
        width: 150px;
    }
    .main-search-form {
        width: 500px;
        max-width: 450px;
        height: 420px;
        margin: auto;
    }
    .results-list-container {
        top: 437px;
        height: calc(100% - 445px);
    }
    .map-container {
        width: 100%;
        height: 300px;
    }

}


/* screen size over 1123px */
@media only screen and (min-width: 850px) {


    .results-search {
        align-items: flex-start;
        width: 95%;
    }
    .results-search-form {
        flex-direction: row;
    }
    .results-list-container {
        width: 95%;
    }
    .list-item-content {
        display: flex;
        flex-direction: row;
    }
    
    .list-item-content :nth-child(1) {
        order: 2;
    }
    .list-item-content :nth-child(2) {
        order: 1;
    }
    .trail-content {
        align-self: flex-end;
        width: calc(100% - 420px);
    }
}
 
